.body{
    font-family: Arial, Helvetica, sans-serif;
}
.container1{
    background-color: #d0d6d5;
}
.main-header{
    color: #00705c;
}
.container2{
    background-color:rgb(130, 191, 130) ;
}
.Myfirstblog{
    color: #00705c; 
}
.container3{
    background-color:rgb(130, 191, 130) ;
}
.mysecondblog{
    color:#00705c;
}
span{
    background-color: #7dffe8;
}

