body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 2000px;
    /* border: 2px solid red; */
    margin: 0 auto;
}
h1{
    background-color: #cdcdcd;
    text-align: center;
    padding:15px 0px;
}
section.about-me,section.about-lilly{
    border:2px solid #666;
    padding: 10px;
}
.about-me{
    margin-bottom: 40px;
}
section h3{
    text-transform: uppercase;
    color: #444;
}
